AddDefaultCharset utf-8

<IfModule mod_rewrite.c>  
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www.dev.areafriki.com [NC]
RewriteRule ^(.*)$ https://dev.areafriki.com/$1 [L,R=301] 

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://dev.areafriki.com/$1 [R,L]

DirectoryIndex index.html index.php 

RewriteRule ^404$ index.php?section=404 [QSA,L]
RewriteRule ^404/$ index.php?section=404 [QSA,L]

RewriteRule ^user$ index.php?section=user [QSA,L]
RewriteRule ^user/$ index.php?section=user [QSA,L]

RewriteRule ^register$ index.php?section=user&action=register [QSA,L]
RewriteRule ^register/$ index.php?section=user&action=register [QSA,L]

RewriteRule ^login$ index.php?section=user&action=login [QSA,L]
RewriteRule ^login/$ index.php?section=user&action=login [QSA,L]

RewriteRule ^logout$ index.php?section=user&action=logout [QSA,L]
RewriteRule ^logout/$ index.php?section=user&action=logout [QSA,L]

RewriteRule ^login/recoverpass$ index.php?section=user&action=recoverpass [QSA,L]
RewriteRule ^login/recoverpass/$ index.php?section=user&action=recoverpass [QSA,L]

RewriteRule ^store$ index.php?section=store [QSA,L]
RewriteRule ^store/$ index.php?section=store [QSA,L]

RewriteRule ^store/([a-zA-Z0-9_-]+)$ index.php?section=store&node=$1 [QSA,L]
RewriteRule ^store/([a-zA-Z0-9_-]+)/$ index.php?section=store&node=$1 [QSA,L]

RewriteRule ^carrito$ index.php?section=carrito [QSA,L]
RewriteRule ^carrito/$ index.php?section=carrito [QSA,L]

RewriteRule ^carrito/checkout$ index.php?section=carrito&action=checkout [QSA,L]
RewriteRule ^carrito/checkout/$ index.php?section=carrito&action=checkout [QSA,L] 

RewriteRule ^carrito/pago$ index.php?section=carrito&action=pago [QSA,L]
RewriteRule ^carrito/pago/$ index.php?section=carrito&action=pago [QSA,L] 

RewriteRule ^carrito/completed$ index.php?section=carrito&action=completed [QSA,L]
RewriteRule ^carrito/completed/$ index.php?section=carrito&action=completed [QSA,L] 

RewriteRule ^user/(.*)/lists$ index.php?section=user&node=lists&user=$1 [L]
RewriteRule ^user/(.*)/lists/$ index.php?section=user&node=lists&user=$1 [L]

RewriteRule ^user/(.*)/designs$ index.php?section=user&node=designs&user=$1 [L]
RewriteRule ^user/(.*)/designs/$ index.php?section=user&node=designs&user=$1 [L]

RewriteRule ^user/(.*)/handmades$ index.php?section=user&node=handmades&user=$1 [L]
RewriteRule ^user/(.*)/handmades/$ index.php?section=user&node=handmades&user=$1 [L]

RewriteRule ^user/(.*)/secondhand$ index.php?section=user&node=secondhand&user=$1 [L]
RewriteRule ^user/(.*)/secondhand/$ index.php?section=user&node=secondhand&user=$1 [L]

RewriteRule ^user/(.*)/([a-zA-Z0-9_-]+)$ index.php?section=user&node=viewlist&user=$1&tokenlist=$2 [L] 
RewriteRule ^user/(.*)/([a-zA-Z0-9_-]+)/$ index.php?section=user&node=viewlist&user=$1&tokenlist=$2 [L]

RewriteRule ^user/(.*)$ index.php?section=user&action=view&user=$1 [QSA,L]
RewriteRule ^user/(.*)/$ index.php?section=user&action=view&user=$1 [QSA,L]

RewriteRule ^simbiosis$ index.php?section=simbiosis [QSA,L]
RewriteRule ^simbiosis/$ index.php?section=simbiosis [QSA,L]

RewriteRule ^simbiosis/([a-zA-Z0-9_-]+)$ index.php?section=simbiosis&node=$1 [QSA,L]
RewriteRule ^simbiosis/([a-zA-Z0-9_-]+)/$ index.php?section=simbiosis&node=$1 [QSA,L]

RewriteRule ^error$ index.php?section=error [QSA,L]
RewriteRule ^error/$ index.php?section=error [QSA,L]

RewriteRule ^contacto$ index.php?section=contacto [QSA,L]
RewriteRule ^contacto/$ index.php?section=contacto [QSA,L]

RewriteRule ^info/([a-zA-Z0-9_-]+)$ index.php?section=info&node=$1 [QSA,L]
RewriteRule ^info/([a-zA-Z0-9_-]+)/$ index.php?section=info&node=$1 [QSA,L]

RewriteRule ^upload$ index.php?section=upload [QSA,L]
RewriteRule ^upload/$ index.php?section=upload [QSA,L]

RewriteRule ^upload/([a-zA-Z0-9_-]+)$ index.php?section=upload&action=step2&node=$1 [QSA,L]
RewriteRule ^upload/([a-zA-Z0-9_-]+)/$ index.php?section=upload&action=step2&node=$1 [QSA,L]

RewriteRule ^designer/([a-zA-Z0-9_-]+)$ index.php?section=upload&action=step3&categoria=$1 [QSA,L]
RewriteRule ^designer/([a-zA-Z0-9_-]+)/$ index.php?section=upload&action=step3&categoria=$1 [QSA,L]

RewriteRule ^mailing$ index.php?section=mailing [QSA,L]
RewriteRule ^mailing/$ index.php?section=mailing [QSA,L]  

RewriteRule ^mailing/([a-zA-Z0-9_-]+)$ index.php?section=mailing&action=$1 [QSA,L]
RewriteRule ^mailing/([a-zA-Z0-9_-]+)/$ index.php?section=mailing&action=$1 [QSA,L]  

RewriteRule ^tag/(.*)/([0-9]+)$ https://dev.areafriki.com/$1/$2 [L,R=301]
RewriteRule ^tag/(.*)$ https://dev.areafriki.com/$1 [L,R=301] 

RewriteRule ^crafts$ https://dev.areafriki.com/handmades [L,R=301]
RewriteRule ^crafts/(.*)$ https://dev.areafriki.com/handmades/$1 [L,R=301] 

RewriteRule ^baul$ https://dev.areafriki.com/secondhand [L,R=301]
RewriteRule ^baul/(.*)$ https://dev.areafriki.com/secondhand/$1 [L,R=301] 

RewriteRule ^myorders$ index.php?section=pedido&action=myorders [QSA,L]
RewriteRule ^myorders/$ index.php?section=pedido&action=myorders [QSA,L]

RewriteRule ^myorders/(.*)$ index.php?section=pedido&action=view&token=$1 [QSA,L]
RewriteRule ^myorders/(.*)/$ index.php?section=pedido&action=view&token=$1 [QSA,L] 

RewriteRule ^mysales$ index.php?section=venta&action=mysales [QSA,L]
RewriteRule ^mysales/$ index.php?section=venta&action=mysales [QSA,L]

RewriteRule ^mysales/(.*)$ index.php?section=venta&action=view&token=$1 [QSA,L]
RewriteRule ^mysales/(.*)/$ index.php?section=venta&action=view&token=$1 [QSA,L] 

RewriteRule ^myuploads$ index.php?section=producto&action=myuploads [QSA,L]
RewriteRule ^myuploads/$ index.php?section=producto&action=myuploads [QSA,L]

RewriteRule ^settings$ index.php?section=user&action=settings [QSA,L]
RewriteRule ^settings/$ index.php?section=user&action=settings [QSA,L]

RewriteRule ^sitemap$ index.php?section=sitemap [L]
RewriteRule ^sitemap/$ index.php?section=sitemap [L]

RewriteRule ^promo/(.*)$ index.php?promo=$1 [L]

RewriteRule ^([a-zA-Z0-9_-]+)/([0-9]+)$ index.php?section=home&search=$1&page=$2 [QSA,L]
RewriteRule ^([a-zA-Z0-9_-]+)/([0-9]+)/$ index.php?section=home&search=$1&page=$2 [QSA,L]

RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?section=home&search=$1&page=1 [QSA,L]
RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?section=home&search=$1&page=1 [QSA,L]

RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ index.php?section=producto&categoria=$1&token=$2 [QSA,L]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/$ index.php?section=producto&categoria=$1&token=$2 [QSA,L]

RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-z-]+)$ index.php?section=producto&action=$3&categoria=$1&token=$2 [QSA,L]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-z-]+)/$ index.php?section=producto&action=$3&categoria=$1&token=$2 [QSA,L]

RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?section=$1 [QSA,L]
RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?section=$1 [QSA,L]

</IfModule>

ErrorDocument 400 /404
ErrorDocument 402 /404
ErrorDocument 403 /404
ErrorDocument 404 /404
ErrorDocument 500 /404

<ifmodule mod_expires.c>
ExpiresActive On
ExpiresDefault A3600
#<filesmatch ".(jpg|JPG|gif|GIF|png|svg|css|ico|js|html|woff2)$">
<filesmatch ".(jpg|JPG|gif|GIF|png|svg|ico|html|woff2)$">
ExpiresDefault "access plus 7 day"
</filesmatch>
</ifmodule>

<IfModule mod_headers.c>
Header set Strict-Transport-Security "max-age=10886400; includeSubDomains; preload" env=HTTPS
</IfModule>

<IfModule pagespeed_module>
    Modpagespeed Off
</IfModule>