main{
    overflow: visible;
}

h2, h3, h4, p{
    color: white !important;
}

.card{
    min-height: 450px;
}

.card-price{
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
    margin-top: 0;
}

label{
    color: white !important;
}
