.container.wrapper{
    min-height: 900px !important;
}

footer .content, footer hr, footer .social-buttons {
    display: none !important;
}

@media only screen and (max-width : 768px) {
    footer {
        display: none;
    }
}