.container-fluid {
    background: #fab800;
    min-height: 900px;
}

h2{
    font-size: 180%;
    line-height: 1.4em;
    margin: 20px 0 10px !important;
}

@media only screen and (max-width : 768px) {
    .container-fluid {
        background-color: #e5e5e5;
    }

    #last-productos{
        margin-top: 71px;
    }
}

.categories li a {
    display: block;
    padding: 10px 0;
    font-size: 180%;
    color: #353535;
}

@media only screen and (min-width : 769px) {
    aside {
        background: #fab800;
        padding: 0px 60px !important;
        width: 20vh;
        min-height: 900px;
    }

    .index-productos {
        background-color: #e5e5e5;
        padding: 10px 60px;
        min-height: 900px;
    }
}

#last-productos .order{
    text-align: right;
}

#last-productos .order p{
    display: inline-block;
    vertical-align: middle;
}

#last-productos .order .form-group{
    margin-top: 0;
    display: inline-block;
    margin-left: 15px;
    width: 200px;
    vertical-align: middle;
}

#last-productos .lista_categorias ul{
    list-style: none;
    padding-left: 10px;
}

#last-productos .label.label-primary {
    background-color: #f66704;
    margin-bottom: 5px;
    margin-right: 5px;
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
}