.container.wrapper {
    padding: 0 !important;
    margin-bottom: -12px !important;
}

#vender-mobile {
    display: none;
}

.product-page .page-header {
    height: 350px !important;
    margin-top: 69px !important;
}

.product-page .main-raised{
    margin: -30vh 0px 0px !important;
}

@media only screen and (max-width : 991px) {
    .product-page .main-raised{
        margin: -90vh 0px 0px !important;
        padding: 20px 5px 0 5px !important;
    }
    .product-page .page-header{
        height: 0px !important;
    }
}


@media only screen and (max-width : 768px) {
    .product-page .page-header {
        min-height: 0 !important;
    }

    .product-page .main-raised{
        padding: 20px !important;
        margin: 0 !important;
    }

    .product-page .product-title {
        font-size: 24px !important;
    }

    #add-cart {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 56px;
        border-radius: 0;
        margin: 0;
        width: 100%;
        z-index: 2;
    }

    .main-price {
        text-align: center;
    }

    .fpd-actions-container {
        display: none !important;
    }
}

.product_file img{
    width: 100%;
}

.product_file .product_container{
    border: 1px solid #ddd;
    padding: 15px 15px 0 15px;
    background-color: white;
    border-radius: 3px;
}

.product_file .product_card .author{
    position: relative;
    bottom: 40px;
    left: 15px;
}

.product_file .product_card .author a{
    color: white;
    text-shadow: black 1px 1px 5px;
}

.product_file .product_buttons{
    text-align: center;
}

.product_file .product-title{
    font-size: 190%;
    margin-top: 0;
}

.product_file .product-category{
    font-size: 85%;
}

.product_file .product-description{
    font-size: 100%;
    color: #353535;
    line-height: initial;
}

.product_file .main-price{
    font-weight: bold;
    color: #353535;
    margin-bottom: 0;
}

.product_file .product_buttons{
    margin-top: -25px;
}

.product_buttons li {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
}

.product_buttons p{
    color: #4d4d4d !important;
}

.like-button .fa{
    color: #F44336;
}

.color_selector{
    display: inline-block;
    border: 2px solid transparent;
    width: 25px;
    height: 25px;
}

.color_selector span{
    display: block;
}

.color_selector.selected{
    border: 2px solid #333;
}

.new-comment-edit {
    min-height: 70px;
    padding: 10px;
    width: auto;
    border-bottom: 1px solid #ccc;
    outline: none;
}

#new_comment_text [contentEditable=true]:empty:not(:focus):before{
  content:attr(placeholder);
  color:grey;
  font-weight: 400;
}

.comment, .new_comment {
    margin-bottom: 30px;
}

.comment_text_block{
    margin-left: 60px;
}

.comment_text{
    padding-top:20px;
    word-wrap: break-word;
}

#product-options{
    list-style: none;
}

#product-options a.dropdown-toggle, #product-options a.dropdown-toggle:hover {
    color: #353535 !important;
    background-color: transparent !important;
}

.tachado {
    position: relative;
    display: initial;
    font-weight: normal !important;
}

.zoom-preview {
    display: block;
    overflow: hidden;
}

#preview {
    transition: all 0.5s ease;
}

#preview:hover {
    transform: scale(1.5);
}

#breadcrumb, #breadcrumb a {
    color: #555555;
    margin-bottom: 20px;
    font-size: 12px;
}

.montaje .thumbnails {
    top: 60px;
    position: absolute;
    width: 10%;
    right: 30px;
}

.thumbnails a {
    margin-bottom: 15px;
    display: block;
}

.play-icon {
    position: absolute;
    top: 0;
}

.play-icon i {
    color: white;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.5);
}