.container-fluid.wrapper {
    padding: 30px;
    margin-top: 70px;
}

#vender-mobile {
    display: none;
}

.card {
    padding: 15px;
}

.material-icons.small{
    font-size: 85%;
}

.product-info:nth-child(n+2) {
    display: none;
}

#color_selector {
    position: relative;
    bottom: 50px;
    margin-bottom: -50px;
}

.add-product{
    opacity: 0.4;
    display: block;
}

.add-product.selected{
    opacity: 1;
}

#uploadprogress {
    position: fixed;
    top:40%;
    left: 40%;
}

#uploadprogress p {
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin-top: 75px;
}

#uploadprogress canvas {
    display: block;
    position:absolute;
    top:0;
    left:0;
}

#uploadprogress span {
    color:#555;
    display:block;
    text-align:center;
    width:220px;
    font-size:40px;
    font-weight:bold;
    margin-left:5px;
}

#uploadprogress input {
    width: 200px;
}
